

<!DOCTYPE html>
<html lang="en">
<head>
    <style>
.banner {
  width: 100%;
  height: 100%;
  background: #5DADE2 ;
}

input[type=submit]:hover {
  background-color: #00bceb;
}

input[type=submit] {
  background-color: #424949;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
    </style>
    <meta charset="UTF-8">
    <title>Analysis</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

</head>
<body>
<div class="banner">
<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Airline Delay Analysis</h1>
        </div>
        <hr>
        <form action="http://localhost:5000/home">
                <div class="flex base-margin-bottom base-padding-top">
                <input type="submit" value="Home Page">
              </div>
        </form>

        <div class="col-sm" style="margin-left:300px;margin-top:20px;">
            <img src="/static/figure/Figure_1.png" alt="Related 1"  >
        </div>
        <div class="col-sm" style="margin-left:300px;margin-top:20px;">
            <img src="/static/figure/Figure_2.png" alt="Related 2" >
        </div>
        <div class="col-sm" style="margin-left:300px;margin-top:20px;">
            <img src="/static/figure/Figure_3.png" alt="Related 3" >
        </div>
        <div class="col-sm" style="margin-left:300px;margin-top:20px;">
            <img src="/static/figure/Figure_6.png" alt="Related 4" >
        </div>
        <div class="col-sm" style="margin-left:100px;margin-top:20px;">
            <img src="/static/figure/Figure_corr.png" alt="Related 5" >

        </div>

    </div>
</div>
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>

</body>
</html>


